<app-container>
  <div class="grid grid-flow-row auto-rows-auto gap-2">
    <div
      class="bg-gray-800 rounded-md flex flex-col gap-4 items-center justify-center"
    >
      <h1 class="text-3xl font-bold">Welcome to Task Manager</h1>
      <div class="w-96 bg-slate-200 flex rounded-md">
        <input
          type="text"
          placeholder="Search for a task"
          class="bg-transparent w-full py-2 px-4"
        />
        <button class="w-auto p-2 bg-slate-700 rounded-r-md">Search</button>
      </div>
    </div>
    <div
      class="bg-gray-800 rounded-md flex flex-col gap-4 items-center justify-center"
    ></div>
    <div
      class="bg-gray-800 flex-1 rounded-md p-5 overflow-auto flex flex-col gap-4 items-center justify-center"
    ></div>
  </div>
  <div class="grid grid-flow-row auto-rows-auto gap-2">
    <div class="bg-gray-800 flex-1 rounded-md p-5 overflow-auto">
      <h2>
        Pending tasks
      </h2>
    </div>
  </div>
</app-container>
