<app-container>
  <app-paper title="Crear Tarea" class="max-w-[300px]">
    <app-form-task [task]="selectedTask"></app-form-task>
  </app-paper>
  <ng-container *ngFor="let state of StateService.getStates()" class="min-w-full">
    <app-paper [title]="state.name">
      <div class="flex flex-col gap-2 pl-4 scrollable-container">
        <ng-container *ngFor="let task of TaskService.getTasks()">
          <app-card-task
            *ngIf="task.state.id === state.id"
            [task]="task"
            (editTaskEvent)="setTaskForEdit($event)"
            (viewTaskEvent)="openModal($event)"
          ></app-card-task>
        </ng-container>
      </div>
    </app-paper>
  </ng-container>
</app-container>

<app-modal-task
  [task]="viewTask"
  [showModal]="showModal"
  (closeModal)="closeModal()"
></app-modal-task>
